altair==5.0.1
annotated-types==0.5.0
astor==0.8.1
asttokens==2.2.1
attrs==23.1.0
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.11.2
blinker==1.6.2
bokeh==3.2.2
bs4==0.0.1
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
compress-pickle==2.1.0
contourpy==1.1.0
cycler==0.11.0
dacite==1.8.1
decorator==5.1.1
deprecation==2.1.0
docxcompose==1.4.0
docxtpl==0.16.7
dxfwrite==1.2.2
et-xmlfile==1.1.0
executing==1.2.0
ezdxf==1.3.3
fonttools==4.42.1
gitdb==4.0.10
GitPython==3.1.32
greenlet==2.0.2
htmlmin==0.1.12
hydralit==1.0.14
hydralit-components==1.0.10
idna==3.4
ifcopenshell==0.7.0.230818
ImageHash==4.3.1
importlib-metadata==6.8.0
importlib-resources==6.0.1
ipython==8.14.0
isodate==0.6.1
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kaleido==0.2.1
kiwisolver==1.4.4
linque==3.0.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
multimethod==1.9.1
networkx==3.1
numpy==1.23.5
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
pandas-profiling==3.6.6
parso==0.8.3
patsy==0.5.3
phik==0.12.3
pickleshare==0.7.5
Pillow==9.5.0
plotly==5.15.0
prompt-toolkit==3.0.39
protobuf==4.24.1
pure-eval==0.2.2
pyarrow==12.0.1
pydantic==1.10.12
pydantic_core==2.6.1
pydeck==0.8.0
Pygments==2.16.1
pygwalker==0.1.11
Pympler==1.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-decouple==3.8
python-docx==0.8.11
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0.1
rdflib==7.0.0
referencing==0.30.2
requests==2.31.0
rich==13.5.2
rpds-py==0.9.2
scipy==1.9.3
seaborn==0.12.2
shapely==2.0.1
six==1.16.0
smmap==5.0.0
soupsieve==2.4.1
SQLAlchemy==2.0.28
st-mui-dialog==0.0.10
stack-data==0.6.2
statsmodels==0.14.0
streamlit==1.32.1
streamlit-ace==0.1.1
streamlit-aggrid==0.3.4.post3
streamlit-agraph==0.0.45
streamlit-elements==0.1.0
streamlit-modal==0.1.0
streamlit-multipage==0.0.18
streamlit-nested-layout==0.1.1
streamlit-option-menu==0.3.2
streamlit-plotly-events==0.0.6
streamlit-pydantic==0.6.0
streamlit-sqlalchemy==0.1.1
streamlit-tree-select==0.0.5
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
typeguard==2.13.3
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.4
validators==0.21.2
visions==0.7.5
watchdog==3.0.0
wcwidth==0.2.6
wordcloud==1.9.2
xlrd==2.0.1
XlsxWriter==3.1.2
xyzservices==2023.7.0
zipp==3.16.2
